body.mozskin {
    margin: 0;
    padding: 0;
    font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    background-color: #fff;
}

.mozskin-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100%;

    a:focus,
    a:hover,
    a:visited,
    a:active {
        text-decoration: none;
    }

    main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
        background: #f0f2f5;

        >header {
            height: 64px;
            line-height: 64px;
            background: #fff;
            box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
            display: flex;
            flex-direction: row;
            z-index: 1;

            .sidebar-trigger {
                font-size: 24px;
                height: 64px;
                flex: 0 0 64px;
                cursor: pointer;
                transition: all .3s, padding 0s;
                padding: 20px 24px;
                color: rgb(221, 221, 221);

                &:hover {
                    background: rgba(0, 0, 0, 0.025);
                }
            }

            .right {
                flex: 1 1 auto;
                flex-direction: row;
                flex-wrap: nowrap;

                li:first-child {
                    flex: 1 1 auto;
                    text-align: right;

                    a {
                        display: inline-block;
                    }
                }

                .dropdown-menu {
                    z-index: 10;
                }

                a {
                    cursor: pointer;
                    padding: 0 12px;
                    font-size: 14px;
                    height: 64px;
                    line-height: 64px;
                    color: rgba(0, 0, 0, 0.65);

                    &:hover {
                        background: rgba(0, 0, 0, 0.025);
                        color: rgba(0, 0, 0, 0.65);
                    }

                    &.dropdown-item {
                        height: 32px;
                        line-height: 32px;
                        font-size: 13px;

                        i {
                            margin-right: 10px;
                        }
                    }

                    .avatar {
                        width: 24px;
                        height: 24px;
                        border-radius: 100%;
                        vertical-align: middle;
                        margin-right: .25rem;
                    }
                }
            }
        }

        >.main {
            margin: 24px 24px 0;
            padding-top: 0px;

            .header {
                margin: -24px -24px 0;

                .header-container {
                    background: #fff;
                    padding: 16px 32px 0;
                    border-bottom: 1px solid #e8e8e8;

                    .breadcrumb {
                        padding: 0;
                        background: none;
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.45);

                        a {
                            color: rgba(0, 0, 0, 0.45);
                        }

                        li {
                            color: rgba(0, 0, 0, 0.65);
                            margin-right: 1rem;

                            &:before {
                                font-family: 'FontAwesome';
                                content: "\F105";
                                display: inline-block;
                                margin-left: 13px;
                                right: 10px;
                                transition: all 300ms ease-in-out;
                                position: relative;
                            }

                            &:first-child:before {
                                display: none;
                            }
                        }
                    }

                    .title {
                        color: rgba(0, 0, 0, 0.85);
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 1rem;
                    }

                    .summary {
                        margin-bottom: 1rem;
                    }

                    >.nav-tabs:last-child {
                        border: none;

                        li.nav-item {
                            margin-bottom: 0;
                            margin-right: 32px;

                            .nav-link {
                                color: rgba(0, 0, 0, 0.85);
                                border: none;
                                border-bottom: 2px solid transparent;
                            }

                            .nav-link.active,
                            .nav-link:hover,
                            .nav-link:focus {
                                border-bottom: 2px solid transparent;
                            }

                            .nav-link.active {
                                color: #1890ff;
                                border-bottom-color: #1890ff;
                            }
                        }
                    }
                }
            }

            .main-container {
                margin-top: 24px;
                color: rgba(0, 0, 0, 0.65);
                background: #fff;
                border-radius: 2px;
                padding: 24px 24px;
            }
        }

        footer {
            background: #f0f2f5;
            padding: 24px 50px;
            color: rgba(0, 0, 0, .65);
            font-size: 14px;
            text-align: center;
        }
    }
}

.hide {
    display: none !important;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;

    .form-control,
    .input-group {
        width: auto;
    }

    >* {
        margin-right: 10px;
    }

    label {
        line-height: 1.8;
        margin-bottom: 0;
    }

    .left {
        display: flex;

        >* {
            margin-right: 10px;
            margin-bottom: 1rem;
        }
    }

    .right {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 0;

        >* {
            margin-left: 10px;
            margin-bottom: 1rem;
        }
    }

    .multi {
        margin-right: 0px;
        display: block;

        .form-row {
            display: flex;
            flex: 0 0 100%;

            & > * {
                margin-right: 10px;
            }
        }
    }
}

td.data-action, th.data-action {
    text-align: center;
}

@include media-breakpoint-down(sm) {
    .filter {
        .right {
            display: none !important;
        }
    }

    td.data-action, th.data-action {
        display: none !important;
    }
}

@include media-breakpoint-down(md) {
    .filter {
        & > * {
            margin-right: 0 !important;
            width: 100%;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .right {
            justify-content: flex-start;

            & > * {
                margin-left: 0 !important;
                margin-right: 10px;
            }
        }
    }
}

$grid-bordered-styles:(solid, dashed);

@each $style in $grid-bordered-styles {
    .grid-#{$style} {
        border-top: $grid-border-width $style $grid-border-color;
        border-left: $grid-border-width $style $grid-border-color;

        .grid-row {
            border: none;

            .grid-col {
                border-right: $grid-border-width $style $grid-border-color;
                border-bottom: $grid-border-width $style $grid-border-color;
            }
        }
    }
}

.grid-row {
    margin: 0;
}

.js-alert .modal-dialog,
.modal-dialog.alert-dialog {
    .modal-body {
        padding: 50px 30px 30px;

        .icon i {
            font-size: 50px;
        }

        .txt {
            line-height: 26px;
            padding-left: 0;
        }
    }
}

.js-resize {
    .scalable {
        position: absolute;
    }

    .resizable {
        position: relative;
    }
}

.modal-wide {
    .modal-body {
        padding: 0 !important;
    }
}

.modal-summary,
.field-validation-valid {
    display: none;
}

.modal-summary .modal-summary-text {
    margin-left: 6px;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.js-editable {
    cursor: text;

    .editable-status {
        cursor: default;
        float: left;
        margin-top: 4px;
        margin-right: 7px;
    }
}

td {
    img.icon {
        height: 16px;
        width: 16px;
        margin-top: -5px;
        margin-right: 5px;
    }

    .data-action {
        visibility: hidden;
        display: inline-block;
    }

    &:hover .data-action {
        visibility: visible;
    }
}

.null-warning {
    text-align: center;
    padding: 150px 50px !important;

    i {
        font-size: 72px;
        display: block;
        margin-bottom: 30px;
    }
}

th.checkbox-only,
td.checkbox-only {
    width: 43px;
}

.table-sm th.checkbox-only,
.table-sm td.checkbox-only {
    width: 28px;
    padding-bottom: 1px;
}

.text-middle {
    vertical-align: middle !important;
}

.page-center {
    justify-content: center;
}

@for $i from 1 through 10 {
    .indent-#{$i} {
        text-indent: #{$i}rem;
    }
}