.mozskin {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100%;

    a:focus,
    a:hover,
    a:visited,
    a:active {
        text-decoration: none;
    }

    .main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
        background: #f0f2f5;

        >header {
            height: 64px;
            line-height: 64px;
            background: #fff;
            box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
            display: flex;
            flex-direction: row;

            .sidebar-trigger {
                font-size: 24px;
                height: 64px;
                flex: 0 0 64px;
                cursor: pointer;
                transition: all .3s, padding 0s;
                padding: 20px 24px;
                color: rgb(221, 221, 221);

                &:hover {
                    background: rgba(0, 0, 0, 0.025);
                }
            }

            .header-right {
                flex: 1 1 auto;
                text-align: right;

                a {
                    padding: 26px 12px;
                    font-size: 14px;
                    height: 64px;
                    line-height: 64px;
                    display: inline-block;
                    color: rgba(0, 0, 0, 0.65);

                    &:hover {
                        background: rgba(0, 0, 0, 0.025);
                        color: rgba(0, 0, 0, 0.65);
                    }
                }

                .avatar {
                    padding: 0 12px;

                    img {
                        width: 24px;
                        height: 24px;
                        border-radius: 100%;
                        vertical-align: middle;
                    }
                }
            }
        }

        >.body {
            padding-top: 0px;

            .header {
                background: #fff;
                padding: 16px 32px 0;
                border-bottom: 1px solid #e8e8e8;
            }
        }
    }
}

.hide {
    display: none !important;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;

    .form-control,
    .input-group {
        width: auto;
    }

    >* {
        margin-right: 10px;
    }

    label {
        line-height: 1.8;
        margin-bottom: 0;
    }

    .left {
        display: flex;

        >* {
            margin-right: 10px;
        }
    }

    .right {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 0;

        >* {
            margin-left: 10px;
        }
    }
}

$grid-bordered-styles:(solid, dashed);

@each $style in $grid-bordered-styles {
    .grid-#{$style} {
        border-top: $grid-border-width $style $grid-border-color;
        border-left: $grid-border-width $style $grid-border-color;

        .grid-row {
            border: none;

            .grid-col {
                border-right: $grid-border-width $style $grid-border-color;
                border-bottom: $grid-border-width $style $grid-border-color;
            }
        }
    }
}

.grid-row {
    margin: 0;
}

.js-alert .modal-dialog,
.modal-dialog.alert-dialog {
    .modal-body {
        padding: 50px 30px 30px;

        .icon i {
            font-size: 50px;
        }

        .txt {
            line-height: 26px;
            padding-left: 0;
        }
    }
}

.js-resize {
    .scalable {
        position: absolute;
    }

    .resizable {
        position: relative;
    }
}

.modal-summary,
.field-validation-valid {
    display: none;
}

.modal-summary .modal-summary-text {
    margin-left: 6px;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.js-editable {
    cursor: text;

    .editable-status {
        cursor: default;
        float: left;
        margin-top: 4px;
        margin-right: 7px;
    }
}