body.fullscreen {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.fullscreen-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #fff !important;
    border: 0 !important;
}

.mozmd-editor {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    border: 1px solid #ddd;
    height: 100%;
    min-height: 100px;
    width: 100%;
}

.mozmd-toolbar {
    display: flex;
    flex: 0 0 36px;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px dashed #ddd;
    padding: 6px 6px;
}

    .mozmd-toolbar a {
        padding: .25rem .5rem;
        line-height: 1.5;
        border-radius: .2rem;
        cursor: pointer;
    }

        .mozmd-toolbar a:hover, .mozmd-toolbar a:focus {
            background-color: #e2e2e2;
            border-radius: 4px;
        }

        .mozmd-toolbar a i {
            color: #969595;
            font-size: 14px;
        }

.mozmd-left {
    flex: 1 1 auto;
}

.mozmd-right {
    flex: 1 1 auto;
    text-align: right;
    vertical-align: middle;
}

.mozmd-source {
    display: block;
    flex: 1 1 auto;
    line-height: 1.5rem;
    background: #eee;
}

    .mozmd-source:focus {
        box-shadow: none;
        background: #fff;
        outline: 0;
    }

.mozmd-preview {
    display: none;
    flex: 1 1 auto;
    background: #fff;
}