.js-menu {
    flex-direction: column;
    font-size: 14px;

    .fa {
        min-width: 14px;
        margin-right: 10px;
        transition: font-size .15s cubic-bezier(.215, .61, .355, 1), margin .3s cubic-bezier(.645, .045, .355, 1);
    }

    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    a {
        height: 40px;
        line-height: 40px;
        display: block;
        color: rgba(255, 255, 255, 0.65);

        &:hover,
        &:focus,
        &:visited,
        &:active {
            color: #fff;
        }
    }

    li.active>a {
        color: #fff;
        background-color: #1890ff;
    }

    .has-sub.active>a {
        background: transparent;
    }

    .has-sub>a:before {
        position: absolute;
        font-family: 'FontAwesome';
        content: "\f106";
        display: inline-block;
        margin-left: 13px;
        right: 1rem;
        transition: all 300ms ease-in-out;
    }

    .has-sub.opened>a:before {
        content: "\f107";
    }

    .nav-link {
        padding: 0;

        span.title {
            transition: opacity .3s cubic-bezier(.645, .045, .355, 1), width .3s cubic-bezier(.645, .045, .355, 1);
            opacity: 1;
            overflow: hidden;
        }
    }

    @for $var from 1 to 10 {
        .level-#{$var - 1} {
            padding-left: $var * 24px;
        }
    }

    .has-sub ul {
        overflow: hidden;
        display: none;
        background: #000c17;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45) inset;
    }

    .has-sub.opened>ul {
        display: block;
    }
}

.sidebar {
    width: 256px;
    flex: 0 0 256px;
    position: relative;
    padding-top: .1px;
    margin-top: -.1px;
    background-image: linear-gradient(180deg, #002140 0%, #b96a6a 70%);
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    background: #001529;
    z-index: 100;

    .logo {
        height: 64px;
        position: relative;
        line-height: 64px;
        padding-left: 24px;
        transition: all .3s;
        background: #002140;
        overflow: hidden;

        img {
            display: inline-block;
            vertical-align: middle;
            height: 32px;
        }

        h1 {
            color: #fff;
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            margin: 0 0 0 12px;
            font-family: Myriad Pro, Helvetica Neue, Arial, Helvetica, sans-serif;
            font-weight: 600;
            overflow: hidden;
        }
    }
}

.mini.sidebar {
    flex: 0 0 80px;
    max-width: 80px;

    .logo {
        h1 {
            display: none;
        }
    }

    .js-menu {
        a:before {
            display: none;
        }

        .title {
            display: none;
        }

        .level-0 {
            padding-left: 0;
            text-align: center;

            .fa {
                font-size: 16px;
                line-height: 40px;
                margin-right: 0;
            }
        }

        ul {
            display: none;
        }

        >li.has-sub:hover {
            position: relative;
            left: 0;
            display: block;
            z-index: 1000;

            >ul {
                a:before {
                    display: block;
                }

                .title {
                    display: inline-block;
                }

                display: block;
                width: 176px;
                margin-left: 80px;
                position: absolute;
            }

            .level-0 span {
                display: block;
                position: absolute;
                width: 176px;
                margin-top: -40px;
                left: 80px;
                text-align: left;
                background: #001529;
                padding-left: 48px;
                border-top-right-radius: 4px;

                &:before {
                    position: absolute;
                    font-family: 'FontAwesome';
                    content: "\f107";
                    display: inline-block;
                    margin-left: 13px;
                    right: 1rem;
                    transition: all 300ms ease-in-out;
                }
            }
        }
    }
}

.dropdown-panel {

    >.dropdown-toggle:after,
    >.dropdown-toggle:before {
        display: none;
    }

    .dropdown-panel-body {
        padding: 0;
        width: 350px;

        .nav-tabs {
            border: none;
            align-items: center;
            display: flex;
            border-bottom: 1px solid #e8e8e8;

            li.nav-item {
                margin-bottom: 0;
                text-align: center;
                flex: 1 1 auto;
                margin-right: 21px;
                height: 45px;

                &:first-child {
                    margin-left: 21px;
                }

                .nav-link {
                    color: rgba(0, 0, 0, 0.85);
                    border: none;
                    display: block;
                    height: 45px;
                    line-height: 45px;
                    border-bottom: 2px solid transparent;
                }

                .nav-link.active,
                .nav-link:hover,
                .nav-link:focus {
                    border-bottom: 2px solid transparent;
                    background: transparent;
                }

                .nav-link.active {
                    color: #1890ff;
                    border-bottom-color: #1890ff;
                }
            }
        }

        .dropdown-panel-content {
            height: 400px;

            .dropdown-panel-item {
                display: flex;
                border-top: 1px solid #e8e8e8;
                cursor: pointer;

                &:hover {
                    background: #e6f7ff;
                }

                &:first-child {
                    border-top: none;
                }

                .dropdown-panel-item-icon {
                    width: 64px;
                    flex: 0 0 64px;
                    text-align: center;

                    img,
                    i {
                        width: 32px;
                        height: 32px;
                        font-size: 16px;
                    }
                }

                .dropdown-panel-item-content {
                    flex: 1 1 auto;
                    padding: 8px 20px 8px 10px;

                    &.noicon {
                        padding: 8px 20px;
                    }

                    .title {
                        color: rgba(0, 0, 0, .65);
                        margin-bottom: 4px;
                        font-size: 14px;
                        line-height: 22px;

                        .mark {
                            padding: 2px 5px;
                            font-size: 12px;
                            float: right;
                            margin: 0;
                            line-height: 14px;
                        }
                    }

                    .text {
                        color: rgba(0, 0, 0, .45);
                        font-size: 12px;
                        margin-top: 4px;
                        line-height: 1.5;
                    }
                }
            }
        }

        .dropdown-panel-action {
            height: 45px;
            display: flex;
            align-items: center;
            border-top: 1px solid #e8e8e8;

            a {
                height: 45px;
                line-height: 45px;
                display: block;
                flex: 1 1 auto;
                text-align: center;
                border-right: 1px solid #e8e8e8;

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}