$check-radio-box-border-color:#d2d2d2!default;
$check-radio-box-shadow-color:rgba(0, 0, 0, .03)!default;
$check-radio-box-checked-color:#d2d2d2!default;

/*网格默认颜色*/
$grid-border-color: #d2d2d2!default;
$grid-border-width: 1px!default;