<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script src="js/jquery.min.js"></script>
</head>

<body>
    <div class="filter">
        <div class="input-group">
            <input class="filter-input form-control" js-date="date" />
            <div class="input-group-append">
                <button js-action="post" type="button" class="action-btn">
                    <i class="fa fa-hand-point-up"></i>
                </button>
            </div>
        </div>
    </div>
</body>

</html>